.book-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  margin: 6px;
}
@media screen and (min-width: 768px) {
  .book-item-container {
    width: 320px;
  }
}
.cover-pic {
  height: 155px;
  width: 133px;
  border-radius: 4px;
  margin: 3px;
}
.book-content-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.book-title {
  color: #334155;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.author {
  color: #475569;
  font-family: Inter;
  margin-top: -8px;
  font-size: 14px;
  line-height: 16px;
}
.rating-container {
  display: flex;
  align-items: center;
  margin-top: -19px;
  margin-bottom: -19px;
}
.book-status {
  font-family: Inter;
  color: #475569;
  font-size: 12px;
}
.status {
  color: #0284c7;
}
.rating-text {
  color: #475569;
  font-family: Inter;
  font-size: 12px;
}
.star-icon {
  color: #fbbf24;
  margin: 6px;
}
.rating {
  font-family: HK Grotesk;
  color: #334155;
}
.link-item {
  text-decoration: none;
}
